@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



:root {
    font-family: 'Open Sans', sans-serif;
    --primary-color: #2D936C;
    --para-color: white;
--background-color: #391463;
}

#section {
    background-color: var(--background-color);
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
}



label {
color: var(--para-color);
}

input {
    display: block;
    margin: 1rem auto;
padding: 0.5rem;
width: 80%;
}

#main-heading {
    color: var(--para-color);
}

#para {
color: var(--para-color);
}
label {
    display: block;
    margin: 1rem auto;
}


button {
    display: block;
    margin: 1rem auto;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


body {
    align-content: center;
text-align:center;
}

th , td {
    margin: 1rem auto;
    padding: 0.5rem;
    border: 2px solid var(--para-color);
    background-color: var(--primary-color);
    color: white;
}

table {
    margin: 1rem auto;
    padding: 1rem;
}

caption {
    color: white;
}